:root{
   --main-background: #FFFFFF;
   --color-logo: #4d5ae5;
   --color-sublogo:  #2e2f42;
   --color-adress: #434455;
   --list-color: #2e2f42;
   --sub-background: #2e2f42;
}

body{
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
   background-color: var(--main-background);
}

/*--------------HEADER-------------------*/

.header-navigation {
   
}
.header-logo {
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
}
.header-web{
   color: var(--color-sublogo);
}
.link{
   text-decoration: none;
}
.header-menu {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
}
.list{
   list-style: none;
}
.list-item{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   
}
.list-item a{
   color: var(--list-color);
}
.list-item-link{
   color: var(--list-color);
}
.list-item a:hover,
.list-item a:focus{
   color: #404bbf;
}
address{
   font-style: normal;
}
.header-link{
   
}
.contacts-link:hover,
.contacts-link:focus{
   color: #404bbf;
}
.contacts-link{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-adress);
}

/*------------------HERO-----------------*/
.hero{
   border-color: var(--sub-background);
}
.hero-tittle {
   font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-btn {
   background-color: #4D5AE5;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
}
.hero-btn:hover,
.hero-btn:focus{
   background-color: #404BBF;
}