:root{
 --main-background: #FFFFFF;
 --color-logo: #4d5ae5;
}

body{
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
   background-color: var(--main-background);
}

/*--------------HEADER-------------------*/

.header-navigation {
  
}
.header-logo {
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
}
.header-web{
   
}
.link{
   text-decoration: none;
}
.header-menu {
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-link {
}